# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [43]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [8]:
# Set the file path to import the WeatherPy_database.csv file
city_data_to_load = "../WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(city_data_to_load)
# Display sample data
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Abnub,EG,2022-11-04 17:31:21,27.2696,31.1511,73.62,36,0,10.25,clear sky
1,1,Albany,US,2022-11-04 17:31:21,42.6001,-73.9662,69.26,55,29,3.00,scattered clouds
2,2,Krutinka,RU,2022-11-04 17:31:21,56.0055,71.5113,34.36,95,100,17.85,snow
3,3,Qaanaaq,GL,2022-11-04 17:31:21,77.4840,-69.3632,18.93,66,100,7.63,overcast clouds
4,4,Barbosa Ferraz,BR,2022-11-04 17:31:21,-24.0300,-52.0117,74.43,45,0,2.73,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [9]:
# Prompt the user to enter the minimum temperature criteria
min_temp =float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 79

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [11]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df =city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Abnub,EG,2022-11-04 17:31:21,27.2696,31.1511,73.62,36,0,10.25,clear sky
1,1,Albany,US,2022-11-04 17:31:21,42.6001,-73.9662,69.26,55,29,3.00,scattered clouds
4,4,Barbosa Ferraz,BR,2022-11-04 17:31:21,-24.0300,-52.0117,74.43,45,0,2.73,clear sky
5,5,Port Alfred,ZA,2022-11-04 17:31:21,-33.5906,26.8910,69.19,89,82,1.99,broken clouds
10,10,Hermanus,ZA,2022-11-04 17:31:21,-34.4187,19.2345,66.79,80,17,15.52,few clouds
12,12,Robertson,US,2022-11-04 17:31:21,36.5167,-86.8667,77.04,55,40,11.50,scattered clouds
18,18,Jamestown,US,2022-11-04 17:31:21,42.0970,-79.2353,71.19,57,0,10.36,clear sky
23,23,Victoria,HK,2022-11-04 17:31:21,22.2855,114.1577,72.32,84,99,13.00,overcast clouds
24,24,Castro,BR,2022-11-04 17:31:21,-24.7911,-50.0119,65.64,48,9,4.76,clear sky
26,26,Sambava,MG,2022-11-04 17:31:21,-14.2667,50.1667,72.86,84,52,1.50,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [18]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities =preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(5)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Abnub,EG,2022-11-04 17:31:21,27.2696,31.1511,73.62,36,0,10.25,clear sky
1,1,Albany,US,2022-11-04 17:31:21,42.6001,-73.9662,69.26,55,29,3.00,scattered clouds
4,4,Barbosa Ferraz,BR,2022-11-04 17:31:21,-24.0300,-52.0117,74.43,45,0,2.73,clear sky
5,5,Port Alfred,ZA,2022-11-04 17:31:21,-33.5906,26.8910,69.19,89,82,1.99,broken clouds
10,10,Hermanus,ZA,2022-11-04 17:31:21,-34.4187,19.2345,66.79,80,17,15.52,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [20]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df =  clean_travel_cities[["City", "Country", "Max Temp","Current Description","Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
0            Abnub      EG     73.62           clear sky  27.2696   31.1511
1           Albany      US     69.26    scattered clouds  42.6001  -73.9662
4   Barbosa Ferraz      BR     74.43           clear sky -24.0300  -52.0117
5      Port Alfred      ZA     69.19       broken clouds -33.5906   26.8910
10        Hermanus      ZA     66.79          few clouds -34.4187   19.2345
12       Robertson      US     77.04    scattered clouds  36.5167  -86.8667
18       Jamestown      US     71.19           clear sky  42.0970  -79.2353
23        Victoria      HK     72.32     overcast clouds  22.2855  114.1577
24          Castro      BR     65.64           clear sky -24.7911  -50.0119
26         Sambava      MG     72.86       broken clouds -14.2667   50.1667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [22]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""
# Display sample data
hotel_df.head(10)

C:\Users\susana\AppData\Local\Temp\ipykernel_33548\2855737733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"]=""

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Abnub,EG,73.62,clear sky,27.2696,31.1511,
1,Albany,US,69.26,scattered clouds,42.6001,-73.9662,
4,Barbosa Ferraz,BR,74.43,clear sky,-24.0300,-52.0117,
5,Port Alfred,ZA,69.19,broken clouds,-33.5906,26.8910,
10,Hermanus,ZA,66.79,few clouds,-34.4187,19.2345,
12,Robertson,US,77.04,scattered clouds,36.5167,-86.8667,
18,Jamestown,US,71.19,clear sky,42.0970,-79.2353,
23,Victoria,HK,72.32,overcast clouds,22.2855,114.1577,
24,Castro,BR,65.64,clear sky,-24.7911,-50.0119,
26,Sambava,MG,72.86,broken clouds,-14.2667,50.1667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [23]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [26]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels =requests.get(base_url,params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Abnub,EG,73.62,clear sky,27.2696,31.1511,دوار ال عبد الجواد شرق البلد بابنوب
1,Albany,US,69.26,scattered clouds,42.6001,-73.9662,
4,Barbosa Ferraz,BR,74.43,clear sky,-24.0300,-52.0117,Edicula Sanches
5,Port Alfred,ZA,69.19,broken clouds,-33.5906,26.8910,The Halyards Hotel & Spa
10,Hermanus,ZA,66.79,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
12,Robertson,US,77.04,scattered clouds,36.5167,-86.8667,Hampton Inn Springfield
18,Jamestown,US,71.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Victoria,HK,72.32,overcast clouds,22.2855,114.1577,Mini Central
24,Castro,BR,65.64,clear sky,-24.7911,-50.0119,CHACARA BAILLY
26,Sambava,MG,72.86,broken clouds,-14.2667,50.1667,Melrose

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [28]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.count()

City                   138
Country                138
Max Temp               138
Current Description    138
Lat                    138
Lng                    138
Hotel Name             138
dtype: int64

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [31]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [35]:
# Set the file name.
output_data_file ="WeatherPy_vacation.csv" 

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [39]:
# Review the formatting template provided
info_box_template = """
Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description}

Max Temp
{Max Temp} °F


"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [40]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\nHotel Name\nدوار ال عبد الجواد شرق البلد بابنوب\n\nCity\nAbnub\nCountry\nEG\nCurrent Weather\nclear sky\n\nMax Temp\n73.62 °F\n\n\n',
 '\nHotel Name\n\n\nCity\nAlbany\nCountry\nUS\nCurrent Weather\nscattered clouds\n\nMax Temp\n69.26 °F\n\n\n',
 '\nHotel Name\nEdicula Sanches\n\nCity\nBarbosa Ferraz\nCountry\nBR\nCurrent Weather\nclear sky\n\nMax Temp\n74.43 °F\n\n\n',
 '\nHotel Name\nThe Halyards Hotel & Spa\n\nCity\nPort Alfred\nCountry\nZA\nCurrent Weather\nbroken clouds\n\nMax Temp\n69.19 °F\n\n\n',
 '\nHotel Name\nMisty Waves Boutique Hotel\n\nCity\nHermanus\nCountry\nZA\nCurrent Weather\nfew clouds\n\nMax Temp\n66.79 °F\n\n\n',
 '\nHotel Name\nHampton Inn Springfield\n\nCity\nRobertson\nCountry\nUS\nCurrent Weather\nscattered clouds\n\nMax Temp\n77.04 °F\n\n\n',
 '\nHotel Name\nHampton Inn & Suites Jamestown\n\nCity\nJamestown\nCountry\nUS\nCurrent Weather\nclear sky\n\nMax Temp\n71.19 °F\n\n\n',
 '\nHotel Name\nMini Central\n\nCity\nVictoria\nCountry\nHK\nCurrent Weather\novercast clouds\n\nMax Temp\n72.32 °F\n\n\n',
 '\nHotel Name\nCHACARA BAILLY\n\nCity\nCastro\nCountry\nBR\nCurrent Weather\nclear sky\n\nMax Temp\n65.64 °F\n\n\n',
 '\nHotel Name\nMelrose\n\nCity\nSambava\nCountry\nMG\nCurrent Weather\nbroken clouds\n\nMax Temp\n72.86 °F\n\n\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [41]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   27.2696   31.1511
1   42.6001  -73.9662
4  -24.0300  -52.0117
5  -33.5906   26.8910
10 -34.4187   19.2345
12  36.5167  -86.8667
18  42.0970  -79.2353
23  22.2855  114.1577
24 -24.7911  -50.0119
26 -14.2667   50.1667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [42]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))